.slider {
    -webkit-appearance: none;
    width: 230px;
    height: 1px;
    border-radius: 3px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007AFF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007AFF;
    cursor: pointer;
}

.canvas {
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
}

.main-board {
    margin-top: 0;
    margin-bottom: 28px;
}

.jam-vertical-toolbar {
    top: 40% !important;
}

.clear-button {
    visibility: hidden;;
}


.jam-button-selected-overlay:hover {
    background-color: white;
    fill: #3c4043;
    border: 1px solid #dadce0;
    margin: -1px
}

/*HTML, BODY {*/
/*    height: 100%;*/
/*    margin: 0px;*/
/*    overflow: hidden;*/
/*    padding: 0px;*/
/*    position: relative;*/
/*    width: 100%*/
/*}*/
